doctype html
// Printer Settings in Chrome
// ----
// Paper size: US Letter
// Margins: None
// Scale: 140
html(lang='en')
  head
    meta(charset='UTF-8')
    title Jason Park
    meta(name='description', content="Jinseo Jason Park's Resume")
    meta(name='author', content='Jinseo Jason Park')
    link(rel='stylesheet', href='styles.css')
  body
    .resume
      .header
        .name
          .first-name Jason
          .middle-name Jinseo
          .last-name Park
        .section
          .content
            .row Hays, KS 67601
            .row <a href="mailto:parkjs814@gmail.com">parkjs814@gmail.com</a>
            .row <a href="http://github.com/parkjs814">github.com/parkjs814</a>
            .row <a href="http://jasonpark.me/">jasonpark.me</a>
        .section
          .title Education
          .content
            .row Korea Digital Media HS
            .row North Central TX Academy
            .row.small (GPA 4.0/4.0)
            .row Fort Hays State University
            .row.small (GPA 4.0/4.0, Class of 2020)
        .section
          .title Languages
          .content
            .row ECMAScript / Java / Python
        .section
          .title Frameworks
          .content
            .row React / Django / Webpack /
            .row Gulp / Sequelize / Sass
        .section
          .title Databases
          .content
            .row MySQL / MongoDB / SQLite
        .section
      .body
        .section
          .title Work Experience
          .content
            .item
              .primary
                .name Software Engineer @ ChapoRoyal
                .date 2017 -
              .row Developing the <a href="http://chaporoyal.com/">corporate website</a> and additional softwares for internal projects
            .item
              .primary
                .name Web Developer @ IncubateX Hackathon
                .date 2016
              .row Developed the skeleton website for each <a href="http://jasonpark.me/IncubateDFW/">IncubateX</a> location
            .item
              .primary
                .name Freelancer @ 7+ companies
                .date 2014 -
              .row Developed a battery management system consisting of a Java client, a Node.js server, and an admin website
              .row Developed an <a href="https://play.google.com/store/apps/details?id=com.luhak.boarding300">Android application</a>, a Node.js server, and an admin website for a study abroad agency
              .row Developed an online judge based on an open source contest management system written in Django
            .item
              .primary
                .name Software Engineer @ Deblur
                .date 2012 - 14
              .row Developed Android custom Rom “<a href="http://forum.xda-developers.com/galaxy-nexus/development/rom-provision-simple-fast-smart-4-0-4-t1691519">Provision</a>” and its built-in applications
              .row Developed lifestyle Android applications including an <a href="https://play.google.com/store/apps/details?id=com.provision.alarmemi">alarm app</a> and a <a href="https://play.google.com/store/apps/details?id=com.deblur.mallow">planner app</a>
        .section
          .title Projects
          .content
            .item
              .primary
                .name <a href="https://github.com/parkjs814/DuoCoder">DuoCoder</a> / Web
                .date 2016 -
              .row Developing a programming language learning platform
            .item
              .primary
                .name <a href="https://github.com/parkjs814/AlgorithmVisualizer">Algorithm Visualizer</a> / Web
                .date 2016
              .row Developed a visualizing tool for algorithms using ECMAScript 6
              .row 35+ developers have contributed to the repository
              .row Got 9.7k stars on GitHub
            .item
              .primary
                .name <a href="https://www.youtube.com/watch?v=sQd3ySM3J0A">Taskbar 7</a> / Android
                .date 2013
              .row Developed a floating widget behaving like a Windows taskbar
              .row Published on Google Play and made $8k in a month
        .section.section-awards
          .title Awards
          .content
            .item
              .primary
                .name 1st (Application Track) @ CCSC:MW Student Showcase
                .date 2017
            .item
              .primary
                .name 1st (Advanced) @ KU HS Programming Contest
                .date 2016
            .item
              .primary
                .name 3rd Regional, 4th National (Advanced) @ CodeQuest
                .date 2016
            .item
              .primary
                .name 1st (Advanced) @ UT Dallas HS Programming Contest
                .date 2016
            .item
              .primary
                .name Platinum Division @ USACO Contest
                .date 2015
            .item
              .primary
                .name 1st (Technical Category) @ GDG Student Hackathon
                .date 2014
            .item
              .primary
                .name 1st @ Korea Youth Science of Information Olympiad
                .date 2011
            .item
              .primary
                .name Silver @ Korea Olympiad in Informatics
                .date 2010
