doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Jason Park
    meta(name='description', content="Jinseo Jason Park's Resume")
    meta(name='author', content='Jinseo Jason Park')
    link(rel='stylesheet', href='styles.css')
  body
    .resume
      .header
        .name
          .word Jinseo
          .word Park
        .section
          .title Information
          .content
            .item Atlanta, GA 30332
            .item
              a(href="mailto:parkjs814@gmail.com") parkjs814@gmail.com
            .item
              a(href="https://github.com/parkjs814") github.com/parkjs814
            .item
              a(href="https://jasonpark.me/") jasonpark.me
        .section
          .title Education
          .content
            .item
              .primary Georgia Institute of Technology
              .row BS in <b>Computer Science</b>
              .row Minor in <b>Economics</b>
              .row Expected <b>Dec. 2020</b>
            .item Kansas Academy of Mathematics and Science
            .item Korea Digital Media High School
        .section
          .title Languages
          .content
            .item ECMAScript / Java / Haskell / C++ / Python
        .section
          .title Frameworks
          .content
            .item React / Webpack / Gulp / Sequelize / Django / Sass
        .section
          .title Databases
          .content
            .item MySQL / MongoDB / SQLite
      .body
        .section
          .title Work Experience
          .content
            .item
              .primary
                .name Web Development Team Lead @ ChapoRoyal
                .date Feb. 2017 -
              .row Leading the team of 2 front-end and 2 back-end developers.
              .row Planning projects with my employer, setting tech agenda for the team, and reviewing the teammates’ code.
              .row Working on several B2B projects, including an exhibition ticketing solution.
        .section
          .title Projects
          .content
            .item
              .primary
                .name <a href="https://github.com/parkjs814/CodeHigh">CodeHigh</a> / Web
                .date 2017
              .row Developed a platform for coders to compete real-time.
              .row Won Hack K-State and Developer Circles Community Challenge.
            .item
              .primary
                .name <a href="https://github.com/parkjs814/DuoCoder">DuoCoder</a> / Web
                .date 2016
              .row Developed a programming language learning platform inspired by Duolingo.
            .item
              .primary
                .name <a href="https://github.com/algorithm-visualizer/algorithm-visualizer">algorithm-visualizer</a> / Web
                .date 2016
              .row Developed an interactive online platform that visualizes algorithms from code.
              .row Gained 10k+ stars on GitHub.
            .item
              .primary
                .name <a href="https://www.youtube.com/watch?v=sQd3ySM3J0A">Taskbar 7</a> / Android
                .date 2013
              .row Developed a floating widget behaving like a Windows taskbar.
              .row Made $8k in a month.
        .section.section-awards
          .title Awards
          .content
            .item
              .primary
                .name EarthxHack
                .date 2018
              .row Third Place
            .item
              .primary
                .name Kansas State University HS Programming Contest
                .date 2017
              .row First Place in Advanced Division
            .item
              .primary
                .name Consortium for Computing Sciences in Colleges: Midwest
                .date 2017
              .row First Place in Application Track of Student Showcase
            .item
              .primary
                .name University of Texas at Dallas HS Programming Contest
                .date 2016
              .row First Place in Advanced Division
            .item
              .primary
                .name USA Computing Olympiad
                .date 2015
              .row Platinum Division
            .item
              .primary
                .name Google Developers Group Korea Student Hackathon
                .date 2014
              .row First Place in Technical Category
            .item
              .primary
                .name Korea Olympiad in Informatics
                .date 2010
              .row Silver Medal
