html, body
  width: 100%
  height: 100%
  margin: 0
  padding: 0

body
  display: flex
  align-items: center
  align-content: center
  justify-content: center
  box-sizing: border-box
  background-color: #E9E9E9
  font-family: "DIN Alternate"
  font-weight: lighter
  color: #404040
  max-width: 612px
  max-height: 792px

*
  flex-shrink: 0

a
  color: inherit
  text-decoration: inherit

.resume
  width: 100%
  height: 100%
  display: flex
  align-items: stretch
  //box-shadow: 0 0 24px rgba(0, 0, 0, .2)

  .section
    font-size: 14px
    display: flex
    flex-direction: column

    .title
      font-family: "DIN Condensed"
      text-transform: uppercase

    .content
      .row
        margin-bottom: 2px

        &.small
          font-size: 12px

  .header
    background-color: #404040
    color: white
    display: flex
    flex-direction: column
    justify-content: center
    padding: 20px

    .name
      font-family: Raleway
      font-weight: bold
      display: flex
      flex-direction: column
      align-items: center
      text-transform: uppercase
      margin-bottom: 40px

      .first-name
        font-size: 24px
        letter-spacing: 3px
        margin-right: -3px

      .middle-name
        font-size: 24px
        letter-spacing: 2px
        margin-right: -2px

      .last-name
        font-size: 24px
        letter-spacing: 10px
        margin-right: -10px

    .section
      margin-bottom: 40px

      .title
        color: #BFBFBF

  .body
    background-color: white
    flex: 1
    display: flex
    flex-direction: column
    justify-content: center
    padding: 20px

    a
      text-decoration: underline

    .section
      margin-bottom: 12px

      .title
        color: black
        align-self: center

      .content
        margin-top: 4px

        .item
          font-size: 12px
          margin-bottom: 12px

          .primary
            display: flex

            .name
              flex: 1

            .location
              margin-right: 8px

            .date

          .row
            color: #7F7F7F
            margin-left: 12px

            &:before
              position: absolute
              content: '-'
              margin-left: -8px

      &.section-awards
        margin-bottom: 0

        .title
          margin-bottom: 0

        .content
          .item
            margin-bottom: 8px