html
  width: 100%
  height: 100%
  font-size: .014in
  margin: 0
  padding: 0

body
  display: flex
  align-items: center
  align-content: center
  justify-content: center
  box-sizing: border-box
  background-color: #E9E9E9
  font-family: "DIN Alternate"
  font-weight: lighter
  color: #404040
  margin: 0
  padding: 24rem
  width: 100%
  min-height: 100%

*
  flex-shrink: 0

a
  color: inherit
  text-decoration: inherit

.resume
  width: 8.5in
  height: 11.0in
  display: flex
  align-items: stretch
  box-shadow: 0 0 24rem rgba(0, 0, 0, .2)

  .section
    font-size: 14rem
    display: flex
    flex-direction: column

    .title
      font-family: "DIN Condensed"
      text-transform: uppercase

    .content
      .row
        margin-bottom: 2rem

        &.small
          font-size: 12rem

  .header
    background-color: #404040
    color: white
    display: flex
    flex-direction: column
    justify-content: center
    padding: 20rem

    .name
      font-family: Raleway
      font-weight: bold
      display: flex
      flex-direction: column
      align-items: center
      text-transform: uppercase
      margin-bottom: 40rem

      .first-name
        font-size: 24rem
        letter-spacing: 1.5rem
        margin-right: -1.5rem

      .middle-name
        font-size: 24rem
        letter-spacing: 3rem
        margin-right: -3rem

      .last-name
        font-size: 24rem
        letter-spacing: 9.5rem
        margin-right: -9.5rem
        margin-left: -2rem

    .section
      margin-bottom: 40rem

      .title
        color: #BFBFBF

  .body
    background-color: white
    flex: 1
    display: flex
    flex-direction: column
    justify-content: center
    padding: 20rem

    a
      text-decoration: underline

    .section
      margin-bottom: 12rem

      .title
        color: black
        align-self: center

      .content
        margin-top: 4rem

        .item
          font-size: 12rem
          margin-bottom: 12rem

          .primary
            display: flex

            .name
              flex: 1

            .location
              margin-right: 8rem

            .date

          .row
            color: #7F7F7F
            margin-left: 12rem

            &:before
              position: absolute
              content: '-'
              margin-left: -8rem

      &.section-awards
        margin-bottom: 0

        .title
          margin-bottom: 0

        .content
          .item
            margin-bottom: 8rem

            &:last-child
              margin-bottom: 0

@media print
  @page
    margin: 0

  body
    padding: 0