@import url('https://fonts.googleapis.com/css?family=Roboto')

$theme-primary: #433952
$theme-secondary: #EEEEEE
$theme-tertiary: #F8F8F8
$color-primary: #444444
$color-secondary: #808080
$font-large: 16rem
$font-medium: 12rem
$font-small: 10rem

html
  width: 100%
  height: 100%
  font-size: .014in
  margin: 0
  padding: 0

body
  display: flex
  align-items: center
  align-content: center
  justify-content: center
  box-sizing: border-box
  background-color: #E9E9E9
  font-family: 'Arial', sans-serif
  font-weight: lighter
  margin: 0
  padding: 24rem
  width: 100%
  min-height: 100%

*
  flex-shrink: 0

a
  color: inherit
  text-decoration: inherit

.resume
  width: 8.5in
  height: 11.0in
  display: flex
  flex-direction: column
  align-items: stretch
  box-shadow: 0 0 24rem rgba(0, 0, 0, .16)
  color: $color-primary

  .header
    display: flex
    flex-direction: column
    background-color: $theme-primary
    align-items: center
    color: $theme-secondary

    .name
      padding: 36rem
      font-weight: bold
      font-size: 24rem
      color: white

    .bar
      align-self: stretch
      display: flex
      background-color: rgba(white, .16)

      .item
        flex: 1
        display: flex
        justify-content: center
        align-items: center
        padding: 6rem
        font-size: $font-small
        color: $theme-secondary

        i
          margin-right: 4rem

  .body
    flex: 1
    display: flex
    align-items: stretch

    .section
      font-size: $font-medium
      display: flex
      flex-direction: column

      .title
        display: flex
        align-items: center
        font-weight: bold
        margin-bottom: 4rem
        font-size: $font-large

        &:after
          content: ''
          margin-left: 16rem
          flex: 1
          height: 2rem
          background-color: $theme-secondary

      .content
        .item
          margin-bottom: 8rem

          .primary,
          .row
            margin-bottom: 4rem

          .primary
            display: flex

            .name
              flex: 1
              margin-right: 12rem

            .level,
            .date
              color: $color-secondary

          .row
            color: $color-secondary
            margin-left: 12rem

            &:before
              position: absolute
              content: '-'
              margin-left: -8rem

    .narrow
      background-color: $theme-secondary
      width: 152rem

    .wide
      background-color: $theme-tertiary
      flex: 1

    .narrow,
    .wide
      display: flex
      flex-direction: column
      justify-content: space-around
      padding: 20rem

@media print
  @page
    margin: 0

  body
    padding: 0
