doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Jinseo Park
    meta(name="description", content="Jinseo Park's Resume")
    meta(name="author", content="Jinseo Park")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css", integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", crossorigin="anonymous")
    link(rel="stylesheet", href="./stylesheet.css")
  body
    .resume
      .header
        .name Jinseo Park
        .bar
          a.item(href="https://github.com/parkjs814")
            i(class="fab fa-github")
            span github.com/parkjs814
          a.item(href="https://www.google.com/maps/place/Atlanta,+GA+30332/@33.7700012,-84.3833291,17z/data=!3m1!4b1!4m5!3m4!1s0x88f504a32025c03d:0x435f52a0da5daab!8m2!3d33.7700012!4d-84.3811458")
            i(class="fas fa-map-marker-alt")
            span Atlanta, GA 30332
          a.item(href="mailto:jason.park@gatech.edu")
            i(class="fas fa-envelope")
            span jason.park@gatech.edu
      .body
        .narrow
          .section
            .title Education
            .content
              .item
                .primary Georgia Institute of Technology
                .row BS in <b>Computer Science</b>
                .row Concentration in <b>Theory</b> and <b>Intelligence</b>
                .row Minor in <b>Economics</b>
                .row Expected <b>Dec. 2020</b>
          .section
            .title Coursework
            .content
              .item
                .row Abstract Algebra I
                .row Data Structures and Algorithms
                .row Introduction to Discrete Mathematics
                .row Objects and Design
                .row Design and Analysis of Algorithms
                .row CREATE-X Capstone Design
                .row Technical Communication
          .section
            .title Skills
            .content
              .item
                .primary
                  .name JavaScript
                  .level Expert
                .primary
                  .name Java
                  .level Advanced
                .primary
                  .name Scala
                  .level Advanced
                .primary
                  .name Haskell
                  .level Intermediate
                .primary
                  .name C++
                  .level Intermediate
                .primary
                  .name Python
                  .level Intermediate
          .section
            .title Languages
            .content
              .item
                .primary
                  .name English
                  .level Fluent
                .primary
                  .name Korean
                  .level Native
                .primary
                  .name Spanish
                  .level Intermediate
        .wide
          .section
            .title Work Experience
            .content
              .item
                .primary
                  .name PrendsSoin
                  .date 2017 - Present
                .row Lead a team of 2 front-end and 2 back-end developers.
                .row Work on various projects outsourced from businesses.
                .row Plan projects with my employer, manage them using Scrum / TDD, and review my teammates' code.
                .row Use the MERN (MongoDB, Express, React, Node.js) stack and React Native for mobile app development.
          .section
            .title Projects
            .content
              .item
                .primary
                  .name
                    a(href="https://github.com/parkjs814/gt-scheduler") GT Scheduler
                  .date 2018
                .row A scheduler that helps Georgia Tech students find the best schedule among all the possible combinations of courses.
                .row The static website written in React is served on GitHub Pages, and the Node.js crawler periodically runs on Heroku.
                .row Around a thousand students have used it.
              .item
                .primary
                  .name
                    a(href="https://github.com/algorithm-visualizer") Algorithm Visualizer
                  .date 2016
                .row An interactive online platform that visualizes algorithms from code.
                .row Wrote visualization libraries in JavaScript / C++ / Java.
                .row Similar to the MERN stack, but store algorithm visualizations in a separate GitHub repository instead of MongoDB.
                .row Collaborated with 35+ developers and gained 13k+ stars on GitHub.
              .item
                .primary
                  .name
                    a(href="https://www.youtube.com/watch?v=sQd3ySM3J0A") Taskbar 7
                  .date 2013
                .row A floating Android widget behaving like a Windows taskbar.
                .row Made $8k in a month from Google Play.
          .section
            .title Awards
            .content
              .item
                .primary
                  .name T-Mobile C2CHack
                  .date 2019
                .row First Place
              .item
                .primary
                  .name Consortium for Computing Sciences in Colleges: Midwest
                  .date 2017
                .row First Place in Application Track of Student Showcase
              .item
                .primary
                  .name University of Texas at Dallas HS Programming Contest
                  .date 2016
                .row First Place in Advanced Division
              .item
                .primary
                  .name USA Computing Olympiad
                  .date 2015
                .row Platinum Division
